/* 
#0B1020 Azul noche para fondos principales
#1E3A5F Azul profundo para secciones, tarjetas, titulos y esas cosas
#7BA7D9 Azul lunar para detalles, botones o enlaces secundarios
#F2F4F8 Blanco lunar para texto principal
#F26A21  Naranja energético para botones principales y elementos destacados como enlaces importantes
*/


body{
    margin: 0;
    background-color: #0B1020;
    color: #F2F4F8;
    font-family:'Times New Roman', Times, serif;
}

.tables{
    max-width: 720px;
    margin: 0 auto;
    padding: 1rem;
}

.content{
    margin: 0 auto;
}

.titulocontent{ 
    border-radius: 20px;
    background-color: #1E3A5F;
    padding: 1rem;
}

p{
    font-size: large;
}

h1{
    text-align: center;
}

td a {
    color: #F26A21;
}